{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <h1>About </h1>
    <div class="col-md-2"></div>
    <div class="col-md-8" align="center">
        
        
    </div>

    <div class="col-md-2"></div>
</div>
{% endblock %}