{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    {% block js %}

    {% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        p {font-size: 14px;
          font-family: sans-serif;
        }
        .container-fluid {
        padding-top: 30px;
        overflow: hidden;
            }
        .bg-1 { 
        padding-left: 300px;
        background-color: #2f2f2f;
        color: #ffffff;
        float: left;
            }
        .bg-2 { 
        padding-right: 250px;
        background-color: #2f2f2f;
        color: #ffffff;
        float: right;
            }
        .bg-3 { 
        background-color: #2f2f2f;
        color: #ffffff;
            }
        .Rights{
        padding-top: 20px;
        padding-bottom: 5px;  
        }
        .bg-4 { 
        background-color: #000000;
        color: #ffffff;
            }
    </style>
</head>
<title>Hand Translation</title>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="http://worakit.pythonanywhere.com/media/images/deaf.png" class="img-circle" width="60" height="60"alt="Image">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://worakit.pythonanywhere.com/upload">HOME <span class="sr-only">(current)</span></a>
            </li>
             <!--<li class="nav-item">
             <a class="nav-link" href="http://worakit.pythonanywhere.com/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Contact">CONTACT</a>
            </li>-->
          </ul>
        </div>
      </nav>
    <div class="jumbotron bg-info text-white">
        <h1>ระบบแปลภาษามือ</h1>
        <h5>Sign Language Translation System</h5>
    </div>
    
    <div class="container">
        {% block content %}
        {% endblock %}<br>
    </div>

  <!-- Footer --> 
    <footer class="container-fluid bg-3 text-center">
        <h4>CONTACT</h4>
      <div class="bg-1">
        <p align = "left"> WORAKIT OATSAWAPHUM</p>
        <p align = "left"><img src="http://worakit.pythonanywhere.com/media/images/002.png" alt="Image">  Web Design </p>
        <p align = "left"><img src="http://worakit.pythonanywhere.com/media/images/call.png" alt="Image">  082-862-3785</p>
        <p align = "left"><img src="http://worakit.pythonanywhere.com/media/images/email.png" alt="Image">  worakit.c4@gmail.com</p><br> 
      </div>
      <div class="bg-2">
        <p align = "left">  JIRAPHON KUAMTO</p>
        <p align = "left"><img src="http://worakit.pythonanywhere.com/media/images/001.png" alt="Image">  Programmer </p>
        <p align = "left"> <img src="http://worakit.pythonanywhere.com/media/images/call.png" alt="Image">  083-893-2811</p>
        <p align = "left"> <img src="http://worakit.pythonanywhere.com/media/images/email.png" alt="Image">  girlsgeneration765@gmail.com</p> 
      </div>   
      
    </footer>
    <footer class="Rights bg-4 text-center">
          <p>© ALL RIGHTS RESERVED</p> 
    </footer>
</body>

</html>