{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

{% block js %}
<script>
  window.onload = function () {
    var video = document.getElementById("myvideo");
    video.requestFullscreen();
  }
</script>
  {% endblock %}

<div class="row">
  

  <div class="col-md-12" align="center">
      <h3>Result </h3>
    <video id="myvideo" width="{{ w }}" height="{{ h }}" controls>
      <source src='{{ vdo }}' type="video/webm">
    </video>

    <a href="{{ vdo }}"> <button type="click" class="btn btn-success">Download video</button></a>
  </div>
 
</div>
{% endblock %}