{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block js %}
<script>
  function show_loading(){
    document.getElementById("loading_bar").className = "col-md-12 visible"; 
  }
</script>
{% endblocks %}

{% block content %}

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" align="center">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.video }}
      <button type="submit" class="btn btn-primary" onclick="show_loading()">Upload</button>
    </form>
  </div>

  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-12 invisible" align="center" id="loading_bar">

    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-primary"></div>
  </div>
</div>
{% endblock %}